header {
    display: flex;
    align-items: center;

}

.img {
    font-size: 60px;
    margin-left: 50px;
}

a {
    padding: 50px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.a {
    margin-left: 400px;

}

.btn {
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    margin-left: 100px;
}

.text {
    font-size: 50px;
    position: absolute;
    top: 160px;
    left: 50px;
}

.text2 {
    position: absolute;
    top: 410px;
    left: 50px;
}

.btn2 {
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    margin-left: 100px;
    color: #FFFFFF;
    position: absolute;
    top: 560px;
    left: -50px;

}

.img2 {
    height: 500px;
    width: 550px;
    position: absolute;
    top: 220px;
    right: 200px;

}

.img3{
    position: absolute;
    top: 750px;
    left: 90px;
}

.img4{
    position: absolute;
    top: 750px;
    left: 370px;
}
.img5{
    position: absolute;
    top: 760px;
    left: 640px;
}
.img6{
    position: absolute;
    top: 750px;
    left: 890px;
}
.img7{
    position: absolute;
    top: 750px;
    left: 1180px;
}














